<body>

  <div class="form-container">
    <h4>Create New Project</h4>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="project-form">
     <div class="row">
      <div class="form-group col-sm-6">
        <label for="name">Project Name:</label>
        <input id="name" formControlName="name" type="text" placeholder="Enter project name" class="form-control">
        <div *ngIf="projectForm.get('name')?.invalid && (projectForm.get('name')?.touched || projectForm.get('name')?.dirty)" class="error-message">
          Project name is required.
        </div>
      </div>
      <div class="form-group col-sm-3">
        <label for="startDate">Start Date:</label>
        <input id="startDate" formControlName="startDate" type="date" class="form-control">
      </div>
      <div class="form-group col-sm-3">
        <label for="endDate">End Date:</label>
        <input id="endDate" formControlName="endDate" type="date" class="form-control">
      </div>
     </div>
     <div class="row">
      
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" placeholder="Enter project description" class="form-control"></textarea>
      </div>
     </div>
      <div class="form-group">
        <label for="priority">Priority:</label>
        <select id="priority" formControlName="priority" class="form-control">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="d-flex" style="margin-left: auto;">
        <a routerLink="/dashboard" class="back-link mr-2">Back to Dashboard</a>

        <button type="submit" [disabled]="!projectForm.valid" class="submit-button btn btn-primary btn-sm">Create Project</button>

      </div>
    </form>
  </div>
</body>
  