<body>
  <div class="div" *ngIf="project$ | async as project">
    <div class="d-flex">
      <h4 class="project-title p-1 ml-2">{{ project.name }}</h4>
      <div class="d-flex p-2" style="display: block; margin-left: auto;">
          <button class="btn btn-primary" style="margin-right: 5px;" (click)="toggleTaskForm()">Add New Task</button>
          <button class="btn btn-primary" (click)="toggleTeamForm()">Assign Team Member</button>
      </div>
    </div>
    <div class="project-details-container">
      <div class="tasks-section">
        <app-task-form *ngIf="showTaskForm" [projectId]="project.id" (taskAdded)="onTaskAdded()"
          (formCanceled)="onFormCanceled()">
        </app-task-form>
        <ul class="task-list">
          <h6>Task List</h6>
          <li *ngFor="let task of project.tasks" class="task-item">
            <span class="task-title">{{ task.title }}</span> -
            <span class="task-status">{{ task.status }}</span>
          </li>
        </ul>
      </div>
      <div class="team-section">
        <app-team-management *ngIf="showTeamForm" [projectId]="project.id"></app-team-management>
        <ul class="team-list">
          <h6>Team Member List</h6>
          <li *ngFor="let member of project.teamMembers" class="team-member-item">
            {{ member.name }}
          </li>
        </ul>
      </div>
      <div class="no-tasks" *ngIf="!project.tasks || project.tasks.length === 0">
        No tasks available for this project.
    </div>
      <a routerLink="/dashboard" class="back-link">Back to Dashboard</a>
    </div>
  </div>
</body>